<h3 class="mb-3">Stocks</h3>
<!-- Modal trigger button -->
<button type="button" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#addStocks">
    <i class="fas fa-plus "></i> Stock
</button> <br>
<div class="table-responsive">
    <div class="card">
     <div class="card-body">

            {{#each messages}}
                <div class="alert alert-{{type}} alert-dismissible fade show flash" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg}}
                </div>
                
            {{/each}}

        
        <table sorted responsive class="table table-striped-columns align-middle ">

        <thead class="">
            <tr>
                <th scope="col">Magasin</th>
                <th scope="col">Article</th>
                <th scope="col">Quantite</th>
                <th scope="col">Prix</th>
                     <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
           {{#each stocks}}
            <tr class="">
                <td scope="row">{{"Magasin.name"}}</td>
                <td>{{"Article.name"}}</td>
                <td>{{quantite}}</td>
                <td>{{#if promoted}}
                   <del>{{price}} <span style="font-weight: bold;">XAF</span></del> {{promote_price}} <span style="font-weight: bold;">XAF</span>
                {{else}}
                    {{price}}  <span style="font-weight: bold;">XAF</span>
                {{/if}}</td>
                <td>
            <button data-bs-target="#edit{{id}}" data-bs-toggle="modal" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                <a href="/admin/stocks/delete-stock/{{id}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                </td>
            </tr>

              <div class="modal fade" id="edit{{id}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleStocks" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleStocks">Editer le stock</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/stocks/edit-stock/{{id}}" method="post">
                    <div class="mb-3">
                        <label for="article" class="form-label">Article</label>
                        <select class="form-select" name="article_id" id="article">
                            <option value="" selected>Selectionner un article</option>
                            {{#each ../articles}}
                                <option value="{{id}}" {{#if_equal ../article_id id}}
                                    selected
                                {{/if_equal}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="mb-3">
                      <label for="quantite" class="form-label" >Quantite</label>
                      <input type="number"
                        class="form-control" name="quantite" id="quantite" aria-describedby="helpId" placeholder="" value="{{quantite}}" required>
                      <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="quantite" class="form-label">Prix</label>
                        <input type="number" class="form-control" name="quantite" id="quantite" aria-describedby="helpId" placeholder=""
                            value="{{price}}" required>
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Magasin</label>
                        <select class="form-select" name="magasin_id" id="user">
                            <option value="" selected>Selectionner un magasin</option>
                            {{#each ../magasins}}
                            
                            <option value="{{id}}" {{#if_equal ../magasin_id id}}
                                selected
                            {{/if_equal}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" {{#if promoted}}
                           checked
                        {{/if}} type="checkbox" id="promoted" name="promoted" value="true">
                        <label class="form-check-label" {{#if promoted}}
                            aria-checked="true"
                        {{/if}} for="promoted">Promotionner?</label>
                    </div>
                    <div class="mb-3" hidden>
                        <label for="promoted_price" class="form-label">Prix de la promotion</label>
                        <input type="text" class="form-control" name="promote_price" id="promoted_price" aria-describedby="helpId"
                            placeholder=""value="{{promote_price}}">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-info">editer</button>
                </form>
            </div>
        </div>
    </div>
</div>


           {{/each}}
            
        </tbody>
    </table>
</div>



<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addStocks" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleStocks" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleStocks">Ajouter un stocks</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/stocks/add" method="post">
                    <div class="mb-3">
                        <label for="article" class="form-label">Article <span class="text-danger">*</span></label>
                        <select class="form-select" name="article_id" id="article">
                            <option value="" selected>Selectionner un article</option>
                            {{#each articles}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="mb-3">
                      <label for="prix" class="form-label">Prix<span class="text-danger">*</span></label>
                      <input type="number"
                        class="form-control" name="price" id="prix" aria-describedby="helpId" placeholder="" required>
                      <small id="helpId" class="form-text text-muted"></small>
                    </div>
                   

                    <div class="mb-3">
                      <label for="quantite" class="form-label">Quantite<span class="text-danger">*</span></label>
                      <input type="number"
                        class="form-control" name="quantite" id="quantite" aria-describedby="helpId" placeholder="" required>
                      <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Magasin<span class="text-danger">*</span></label>
                        <select class="form-select" name="magasin_id" id="user">
                            <option value="" selected>Selectionner un magasin</option>
                            {{#each magasins}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="promoted" name="promoted" value="true">
                        <label class="form-check-label" for="promoted">Promotionner?</label>
                    </div>
                    <div class="mb-3" hidden>
                        <label for="promoted_price" class="form-label">Prix de la promotion</label>
                        <input type="text" class="form-control" name="promote_price" id="promoted_price" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    document.querySelectorAll("#promoted").forEach((promotedCheck,i)=>{
        promotedCheck.addEventListener("click", (e) => {
            if (e.target.checked) {
                document.querySelectorAll("#promoted_price")[i].parentElement.removeAttribute("hidden")
            } else {
                document.querySelectorAll("#promoted_price")[i].parentElement.setAttribute("hidden", true)
            }
        })
         if (promotedCheck.checked) {
            document.querySelectorAll("#promoted_price")[i].parentElement.removeAttribute("hidden")
        } else {
            document.querySelectorAll("#promoted_price")[i].parentElement.setAttribute("hidden", true)
        }
    })

   
</script>

