<div class="m-2 text-gray-700">
    <h4>
        Ajouter un Utilisateur
    </h4>
    <button class="btn btn-outline-primary m-3" data-bs-toggle="modal" data-bs-target="#add_type">
        <i class="fas fa-plus"></i> Ajouter
    </button>
</div>
<div class="container-fluid">
    <div class="card">
        
        <div class="card-body">
            
            {{#each messages}}
                <div class="alert alert-{{type}} alert-dismissible fade show flash" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg}}
                </div>
                
            {{/each}}

             <div class="table-responsive">
        <table class="table  
        align-middle">
            <thead>
             
                <tr>
                    <th>Nom complet</th>
                   
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Quartier</th>
                    <th>Nom d'Utilisateur</th>
                    <th>cni</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody >
                    {{#each users}}
                        <tr>
                            <td scope="row">{{fullname}}</td>
                        
                            <td>{{address}}</td>
                            <td>{{ville}}</td>
                            <td>{{street_address}}</td>
                            <td><span class="badge bg-info">{{username}}</span></td>
                                <td>{{cni}}</td>
                            <td><span class="badge bg-success">{{"Role.name"}}</span></td>
                            <td><button class="btn btn-sm btn-warning"  data-bs-target="#edit_user{{id}}" data-bs-toggle="modal"><i class="fas fa-edit"></i></button></td>
                        

                        <!-- Modal -->
                        <div class="modal fade" id="edit_user{{id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId{{id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modifier</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <form action="/admin/user/edit-user/{{id}}" method="post">
                                                <div class="mb-3">
                                                    <label for="fullname" class="form-label">Nom complet *</label>
                                                    <input type="text" class="form-control" name="fullname" id="fullname"
                                                        aria-describedby="helpId" placeholder="" required value="{{fullname}}">
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-username" class="form-label">Nom d'Utilisateur</label>
                                                    <input type="text" class="form-control" name="username" id="edit-username"
                                                        aria-describedby="helpId" placeholder="" value="{{username}}" readonly>
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="address" class="form-label">Adresse</label>
                                                    <input type="text" class="form-control" name="address" id="address"
                                                        aria-describedby="helpId" placeholder="" value="{{address}}">
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="ville" class="form-label">Ville</label>
                                                    <input type="text" class="form-control" name="ville" id="ville" aria-describedby="helpId"
                                                        placeholder="" value="{{ville}}">
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="street_address" class="form-label">Adresse du quartier</label>
                                                    <input type="text" class="form-control" name="street_address" id="street_address"
                                                        aria-describedby="helpId" placeholder="" value="{{street_address}}">
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cni" class="form-label">CNI</label>
                                                    <input type="text" class="form-control" name="cni" id="cni" aria-describedby="helpId"
                                                        placeholder="" value="{{cni}}">
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="date_delivrance" class="form-label">Date de délivrance</label>
                                                    <input type="date" class="form-control" name="date_delivrance" id="date_delivrance"
                                                        aria-describedby="helpId" placeholder="" value="{{date_delivrance}}">
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="lieu_delivrance" class="form-label">Lieu de délivrance</label>
                                                    <input type="text" class="form-control" name="lieu_delivrance" id="lieu_delivrance"
                                                        aria-describedby="helpId" placeholder="" value="{{lieu_delivrance}}">
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="role_id" class="form-label">Role</label>
                                                    <select class="form-select" name="role_id" id="role_id">
                                                        <option selected value="">Selectionner un rôle</option>
                                                        {{#each ../roles}}
                                                            <option {{#if_equal ../role_id id}}
                                                                selected
                                                            {{/if_equal}} value="{{id}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                {{!-- <div class="mb-3">
                                                    <label for="password" class="form-label">Mot de passe</label>
                                                    <input type="password" class="form-control" name="password" id="password"
                                                        aria-describedby="helpId" placeholder="">
                                                    <small id="helpId" class="form-text text-muted"></small>
                                                </div> --}}
                        
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-primary">Enregister</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </tr>
                    {{/each}}
                    
                </tbody>
                <tfoot>
                    
                </tfoot>
        </table>
    </div>
        </div>
    </div>
  
    
</div>
<!-- Modal -->
<div class="modal fade" id="add_type" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" validation >
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un Utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="/admin/user/add-user" method="post" all-required>
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Nom complet<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="fullname" id="fullname" aria-describedby="helpId"
                                placeholder="" required>
                            <small id="helpId" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Nom d'Utilisateur</label>
                            <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="" required>
                            <small id="username_helpId" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-3">
                          <label for="address" class="form-label">Adresse<span class="text-danger">*</span></label>
                          <input type="text"
                            class="form-control" name="address" id="address" aria-describedby="helpId" placeholder="" required>
                          <small id="address_helpId" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-3">
                            <label for="ville" class="form-label">Ville<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="ville" id="ville" aria-describedby="helpId" placeholder="" required>
                            <small id="ville_helpId" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-3">
                            <label for="street_address" class="form-label">Adresse du quartier<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="street_address" id="street_address" aria-describedby="helpId" placeholder="" required>
                            <small id="street_helpId" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-3">
                            <label for="cni" class="form-label">Numero CNI<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="cni" id="cni" aria-describedby="helpId" placeholder="" required>
                            <small id="cni_helpId" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-3">
                            <label for="date_delivrance" class="form-label">Date de délivrance</label>
                            <input type="date" class="form-control" name="date_delivrance" id="date_delivrance" aria-describedby="helpId" placeholder="">
                            <small id="date_helpId" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-3">
                            <label for="lieu_delivrance" class="form-label">Lieu de délivrance</label>
                            <input type="text" class="form-control" name="lieu_delivrance" id="lieu_delivrance" aria-describedby="helpId" placeholder="">
                            <small id="lieu_helpId" class="form-text text-muted"></small>
                        </div>
                        <div class="mb-3">
                            <label for="role_id" class="form-label">Role<span class="text-danger">*</span></label>
                            <select class="form-select" name="role_id" id="role_id">
                                <option selected value="">Selectionner un rôle</option>
                                {{#each roles}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId"
                                placeholder="" required>
                            <small id="helpId" class="form-text text-muted"></small>
                        </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Enregister</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const fullnames = document.querySelectorAll("#fullname")
    fullnames.forEach(fullname=>{
        fullname.addEventListener("keyup", (e) => {
            e.preventDefault();
            document.querySelector("#username").value = String(fullname.value).split(" ").filter(c=>c!==" ").join("").substr(0, Math.round(String(fullname.value).length / 2)).toLocaleLowerCase() + (Math.ceil(Math.random(300000) * 1000) + 9000)
        })
    })
</script>