<div class="m-3">
  <h3>
    Tableau de bord
  </h3>
</div>
<div class="row">
  <div class="col-12 col-sm-6 col-xl-3 mb-4">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
          >
            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
              <svg
                class="icon"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              ><path
                  d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                ></path></svg>
            </div>
            <div class="d-sm-none">
              <h2 class="h5">Nombre de comptes</h2>
              <h3 class="fw-extrabold mb-1" id="account">{{accounts}}</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0">Nombre de comptes</h2>
              <h3 class="fw-extrabold mb-2" id="account">{{accounts}}</h3>
            </div>
          </div>
           <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0">Nomb comptes</h2>
              <h3 class="fw-extrabold mb-2" id="account">{{accounts}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3 mb-4">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div
            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
          >
            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
              <i class="fas fa-chart-line fa-2x"></i>
            </div>
            <div class="d-sm-none">
              <h2 class="fw-extrabold h5">Nombre de transaction Reussies</h2>
              <h3 class="mb-1" id="transaction">{{transactionPassed}}</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0">Nombre de transaction Reussies</h2>
              <h3
                class="fw-extrabold mb-2"
                id="transaction"
              >{{transactionPassed}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-xl-3 mb-4">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div
            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
          >
            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
              <i class="fas fa-chart-line fa-2x"></i>
            </div>
            <div class="d-sm-none">
              <h2 class="fw-extrabold h5">Nombre de transaction échouées</h2>
              <h3 class="mb-1" id="transaction">{{transactionFailed}}</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0">Nombre de transaction échouées</h2>
              <h3
                class="fw-extrabold mb-2"
                id="transaction"
              >{{transactionFailed}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-xl-3 mb-4">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div
            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
          >
            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
              <i class="fas fa-coins fa-2x"></i>
            </div>
            <div class="d-sm-none">
              <h2 class="fw-extrabold h5">Montant Disponible</h2>
              <h3 class="mb-1" id="montant">{{recharge}}</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0">Montant Disponible</h2>
              <h3 class="fw-extrabold mb-2" id="montant">{{recharge}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-3 mb-4">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div
            class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
          >
            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
              <i class="fas fa-shopping-cart fa-2x"></i>
            </div>
            <div class="d-sm-none">
              <h2 class="fw-extrabold h5">Montant des achats</h2>
              <h3 class="mb-1" id="buy">{{achats}}</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0">Montant des achats</h2>
              <h3 class="fw-extrabold mb-2" id="buy">{{achats}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>