<h3>Commande</h3>

<div class="mb-3">
    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createCommande">
        <i class="fas fa-plus"></i> Commande
    </button>
    {{!-- <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addCommande">
        <i class="fas fa-plus"></i>
        Ajouter une commande
    </button> --}}

    <div class=" mt-5 px-2">
        <div class="card">
            <div class="card-body">
                {{#each messages}}
                <div class="alert alert-{{type}} alert-dismissible fade show flash" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg}}
                </div>

                {{/each}}
                <div class="mb-2 d-flex justify-content-between align-items-center">
                </div>
                <div class="table-responsive">
                    <table sorted responsive class="table table-striped" style="width:100%">

                        <thead>
                            <tr class="bg-light">
                                <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col" width="10%">Canal de Vente</th>
                                <th scope="col" width="20%">Numero de suivi</th>
                                <th scope="col" width="20%">Contenu produit</th>

                                <th scope="col" width="20%">Prix total</th>
                                <th scope="col" width="20%">Telephone client</th>
                                <th scope="col" width="20%">nom client</th>
                                <th scope="col" width="20%">Adresse de livraison</th>
                                <th scope="col" width="20%">Status commande</th>
                                <th scope="col" width="20%">Livraison</th>
                                <th scope="col">Date de création</th>
                                <th scope="col" width="20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each Commandes}}
                            <tr>
                                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                                <td>{{"Magasin.name"}}</td>
                                <td>{{numero_commande}}</td>
                                <td>{{articles_commandes.length}} {{#list_article articles_commandes}}
                                    {{/list_article}}</td>
                                <td><b>XAF</b> {{total}} <br><b> frais de  livraison et embalage<b><br>
                           
                                {{#calculate frais_livraison 1 "plus"}}
    
                                    {{/calculate}}
                                </b></td>
                                <td>{{numero_client}}</td>
                                <td>{{name}}</td>
                                <td>{{address_livraison}}</td>
                                <td><span class="badge bg-danger">{{status_commande}}</span></td>
                                <td><span class="badge bg-info">En cours</span></td>
                                <td>{{#dateFormat createdAt "LLL"}}
                                    {{/dateFormat}}</td>
                                <td>
                                    {{#if user_call_center}}
                                    Assigné à <span
                                        class="badge rounded-pill bg-warning">{{call_center.fullname}}</span>
                                    {{else}}
                                    <button class="btn btn-outline-info" data-bs-toggle="modal"
                                        data-bs-target="#assignUser{{id}}">
                                        <i class="fas fa-share"></i>
                                        Assigner
                                    </button>
                                    {{/if}}


                                </td>
                                <!-- Modal Body -->
                                <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                                <div class="modal fade" id="assignUser{{id}}" tabindex="-1" data-bs-backdrop="static"
                                    data-bs-keyboard="false" role="dialog" aria-labelledby="addRoleTitle"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
                                        role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="addRoleTitle">Assigner une commande à un
                                                    utilisateur</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/commandes/assign/{{id}}" method="post">
                                                    <div class="mb-3">
                                                        <label for="call_center" class="form-label">Nom</label>
                                                        <select class="form-select" name="user_call_center"
                                                            id="call_center">
                                                            <option selected value="">Selectionner call center</option>
                                                            {{#each ../users}}
                                                            <option value="{{id}}">{{fullname}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Fermer</button>
                                                <button type="submit" class="btn btn-info">Enregistrer</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
</div>


<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="createCommande" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Créer une commande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body stepper">
                <div class="row">
                    <form method="post" action="/commandes/add">
                        <div class="col">
                            <h3>Information de la paternaire</h3>
                            <div class="commande_info">
                                <div class="mb-3">
                                    <label for="partenaire_id" class="form-label">Nom du patenaire</label>
                                    <select class="form-select" name="partenaire_id" id="partenaire_id">
                                        <option value="" selected>Selectionner un partenaire</option>
                                        {{#each ./parternaires}}
                                        <option value="{{id}}">{{fullname}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="magasin_id" class="form-label">Magasin: </label>
                                    <select class="form-select" name="magasin_id" id="magasin_id">
                                        <option selected>Selectionner le magasin</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="ville" class="form-label">ville</label>
                                    <input type="text" class="form-control" name="ville" id="ville"
                                        aria-describedby="helpId" placeholder="ville par defaut du magasin choisi">
                                    <small id="helpId" class="form-text text-muted"></small>
                                </div>
                                <div class="mb-3">
                                    <label for="quartier_recup" class="form-label">Quartier de Recuperation</label>
                                    <input type="text" class="form-control" name="quartier_recup" id="quartier_recup"
                                        aria-describedby="helpId" placeholder="quartier par defaut du magasin choisi">
                                    <small id="helpId" class="form-text text-muted"></small>
                                </div>
                                <div class="mb-3">
                                    <label for="adresse_recup" class="form-label">Adresse Recuperation</label>
                                    <input type="text" class="form-control" name="address_recup" id="address_recup"
                                        aria-describedby="helpId" placeholder="adresse par defaut du magasin choisi">
                                    <small id="helpId" class="form-text text-muted"></small>
                                </div>
                            </div>
                            <button class="btn btn-primary float-end next-button" type="button">suivant</button>
                        </div>
                        <div class="col">
                            <h3>Information de la client</h3>
                            <div class="commande_info">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Nom du client</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                        aria-describedby="helpId" placeholder="">
                                    <small id="helpId" class="form-text text-muted"></small>
                                </div>
                                <div class="mb-3">
                                    <label for="numero_client" class="form-label">Telephone du client</label>
                                    <input type="number" class="form-control" name="numero_client" id="numero_client"
                                        aria-describedby="helpId" placeholder="">
                                    <small id="helpId" class="form-text text-muted"></small>
                                </div>
                                <div class="mb-3">
                                    <label for="address_livraison" class="form-label">Ville</label>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option>Selectionner la ville</option>
                                        <option value="1">Douala</option>
                                        <option value="2">Yaounde</option>
                                    </select>
                                    <small id="helpId" class="form-text text-muted"></small>
                                </div>
                                <div class="mb-3">
                                    <label for="address_livraison" class="form-label">Quartier</label>
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option>Selectionner le Quartier</option>
                                        <option value="1">Sable</option>
                                        <option value="2">Sadi</option>
                                    </select>
                                    <small id="helpId" class="form-text text-muted"></small>
                                </div>
                                <div class="mb-3">
                                    <label for="address_livraison" class="form-label">Adresse de livraison</label>
                                    <input type="text" class="form-control" name="address_livraison"
                                        id="address_livraison" aria-describedby="helpId" placeholder="">
                                    <small id="helpId" class="form-text text-muted"></small>
                                </div>
                            <div class="mb-3">
                                <label for="frais_emballage" class="form-label">Frais Emballage</label>
                                <input type="text" class="form-control" name="frais_emballage" id="frais_emballage" aria-describedby="helpId"
                                    placeholder="">
                                <small id="helpId" class="form-text text-muted"></small>
                            </div>
                            <div class="mb-3">
                                <label for="frais_livraison" class="form-label">Frais livraison</label>
                                <input type="text" class="form-control" name="frais_livraison" id="frais_livraison" aria-describedby="helpId"
                                    placeholder="">
                                <small id="helpId" class="form-text text-muted"></small>
                            </div>

                            </div>
                            <button type="button" class="btn btn-danger prev-button">Retour</button>
                            <button class="btn btn-primary float-end next-button" type="button">suivant</button>
                        </div>
                        <div class="col" style="display: none;">
                            <h4 id="total-show">Total: </h4>
                            <h3>Choisir les articles</h3>
                            <div multi-input>
                                <div class="input-group mb-3">
                                    {{!-- <label for="quartier" class="form-label">Quartier Recuperation</label> --}}
                                    <select class="form-select" name="article_id" id="article"
                                        aria-label="Default select example">
                                        <option selected value="">Selectionner l'article</option>
                                        <!--{{#each articles}}
                                     <option value="{{id}}">{{"Article.name"}}</option>
                                    {{/each}}-->
                                    </select>
                                    <input type="number" class="form-control" placeholder="quantite" name="quantite"
                                        min="1" value="1">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-danger prev-button">Retour</button>
                            <button type="button" class="btn btn-primary float-end next-button"
                                onclick="onSubmit()">Commander</button>
                        </div>
                    </form>
                </div>
            </div>
            {{!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div> --}}
        </div>
    </div>
</div>


<script>
    function onSubmit() {
        let prepData = {}
        const multInput = []
        let inputs = {}
        let articles = []
        let total = 0;
        const name = document.querySelector("#name");
        /*const frais_emballage = parseInt(document.querySelector("#frais_emballage").value)
        const frais_livraison = parseInt(document.querySelector("#frais_livraison").value)*/
        const commande_info = [...document.querySelectorAll(".commande_info input"), ...document.querySelectorAll(".commande_info select")];
        const multiInputs = document.querySelector("[multi-input]").children;
        multiInputs.forEach((multiInput) => {
            [...multiInput.querySelectorAll("input"), ...multiInput.querySelectorAll("select")].forEach(mInput => {
                prepData = { ...prepData, [mInput.name]: mInput.value }
            })
            multiInput.querySelectorAll("select").forEach((select, i) => {
                total += parseInt(select.options[select.selectedIndex].getAttribute("article-price")) * parseInt(multiInput.querySelectorAll("input")[i].value)
            })
            
            multInput.push(prepData);
        })

        articles = multInput
        commande_info.forEach((cmInfo) => {
            inputs = { ...inputs, [cmInfo.name]: cmInfo.value }
        })
        const data = {
            ...inputs,
            total,
            articles: articles
        }
        console.log(data)

        fetch("/commandes/add", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data),
            redirect: "follow"
        }).then((res) => res.status === 201 && window.location.reload())

    }
    document.addEventListener("DOMContentLoaded", function () {
        var currentStep = 0;
        var steps = document.querySelectorAll(".stepper .row .col");
        // Hide all steps except the first one
        for (var i = 1; i < steps.length; i++) {
            steps[i].style.display = "none";
        }
        var nextButtons = document.querySelectorAll(".next-button");
        var prevButtons = document.querySelectorAll(".prev-button");
        // Add event listeners to next buttons
        nextButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                if (currentStep < steps.length - 1) {
                    steps[currentStep].style.display = "none";
                    currentStep++;
                    steps[currentStep].style.display = "block";
                }
            });
        });
        // Add event listeners to previous buttons
        prevButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                if (currentStep > 0) {
                    steps[currentStep].style.display = "none";
                    currentStep--;
                    steps[currentStep].style.display = "block";
                }
            });
        });
    });
    document.querySelector("#magasin_id").addEventListener("change", (e) => {
        const articleSelects = document.querySelectorAll("#article")
        const value = e.target.value
        fetch(`/admin/stocks/${value}`, {
            method: "POST",
        }).then(async (res) => {
            if (res.status === 200) {
                const data = await res.json()

                if (data.length > 0) {
                    data.map((articles) => {
                        articleSelects.forEach((articleSelect) => {
                            const option = document.createElement("option")
                            option.value = articles.article_id
                            option.innerText = articles["Article.name"]
                            const price = articles.promoted && articles.promote_price ?? articles.price
                            option.setAttribute("article-price", price)
                            articleSelect.append(option)
                        })
                        document.querySelector("#ville").value = articles["Magasin.address"]
                    })
                } else {
                    document.querySelector("#ville").value
                    articleSelects.forEach((articleSelect) => {
                        const option = articleSelect.querySelectorAll("[article-price]")
                        option.forEach(o => o.remove())
                    })
                }
            }
        })
    })



    document.querySelector("#partenaire_id") && document.querySelector("#partenaire_id").addEventListener("change", (e) => {
        const magasinSelect = document.querySelector("#magasin_id")
        const value = e.target.value
        fetch(`/admin/magasin/${value}`, {
            method: "POST",
        }).then(async (res) => {
            if (res.status === 200) {
                const data = await res.json()
                if (data.length > 0) {
                    const option = magasinSelect.querySelectorAll("[Stock]")
                    option.forEach(o => o.remove())
                    data.map((magasin) => {
                        const option = document.createElement("option")
                        option.value = magasin.id
                        option.innerText = magasin.name
                        option.setAttribute("Stock", magasin.stock_id)
                        magasinSelect.append(option)
                    })
                } else {

                    const option = magasinSelect.querySelectorAll("[Stock]")
                    option.forEach(o => o.remove())
                }
            }
        })
    })
    document.addEventListener("mouseup", () => {
        const getmultiInputs = document.querySelector("[multi-input]");
        let total = 0;
        const frais_emballage = parseInt(document.querySelector("#frais_emballage").value)
        const frais_livraison = parseInt(document.querySelector("#frais_livraison").value)
        [...getmultiInputs.querySelectorAll("select"), ...getmultiInputs.querySelectorAll("input")].forEach((input) => {
            input.addEventListener("change", (e) => {
                e.preventDefault()
                getmultiInputs.querySelectorAll("select").forEach((select, i) => {
                    total += parseInt(select.options[select.selectedIndex].getAttribute("article-price")) * parseInt(getmultiInputs.querySelectorAll("input")[i].value || 1)
                })
                total += (frais_emballage + frais_emballage)
                document.querySelector("#total-show").innerHTML = `Total: ${total}`
            })
        })
    })
</script>