<h3 class="mb-3">Magasin</h3>
<div class="mt-5">
    <!-- Modal trigger button -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addMagasin">
        <i class="fas fa-plus"></i> Magasin
    </button>



    <div class="table-responsive mt-3">
        <div class="card">
              {{#each messages}}
                <div class="alert alert-{{type}} alert-dismissible fade show flash" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg}}
                </div>
                
            {{/each}}
            <div class="card-body">
                <table sorted responsive class="table table-striped-columns table-bordered align-middle ">

                    <thead>
                        <tr>
                            <th scope="col">Nom du magasin</th>
                            <th scope="col">Partenaire</th>
                    
                            <th scope="col">Ville</th>
                              <th scope="col">Quartier</th>
                              <th scope="col">Adresse</th>
                             <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each magasins}}
                        <tr class="">
                            <td scope="row">{{name}}</td>
                            <td>{{"User.fullname"}}</td>
                            
                            <td>{{address}}</td>
                            <td>
                                {{#if active}}
                                <span class="badge rounded-pill bg-success">Actif</span>
                                {{else}}
                                <span class="badge rounded-pill bg-danger">Inactif</span>
                                {{/if}}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="addMagasin" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Créer un magasin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/magasin/add" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nom du magasin</label>
                            <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                                placeholder="" required>
                            <small id="helpId" class="form-text text-muted"></small>
                        </div>

                        <div class="mb-3">
                            <label for="town" class="form-label">Ville</label>
                            <select class="form-select" name="ville" id="town" show-town>
                                <option selected>Selectionner la ville</option>
                            </select>
                        </div>
                                 
                            <div class="mb-3">
                            <label for="quater" class="form-label">Quartier</label>
                            <select class="form-select" name="quater" id="town" show-quater>
                                <option selected>Selectionner la quartier</option>
                            </select>
                        </div>


                        <div class="mb-3">
                            <label for="address" class="form-label">Adresse</label>
                            <input type="text" class="form-control" name="address" id="address" aria-describedby="helpId"
                                placeholder="" required>
                            <small id="helpId" class="form-text text-muted"></small>
                        </div>
                        <select class="form-select" name="user_id" id="user">
                            <option value="" selected>Selectionner un partenaire</option>
                            {{#each users}}
                            <option value="{{id}}">{{fullname}}</option>
                            {{/each}}
                        </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
