<h3>Articles</h3>
{{#if_admin user}}

<div class="mb-3">
    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addCategorie"><i class="fas fa-plus"></i>   
       Article</button>
</div>
{{/if_admin}}
<div class="table-responsive">
 <div class="card">
    
            {{#each messages}}
                <div class="alert alert-{{type}} alert-dismissible fade show flash" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg}}
                </div>
                
            {{/each}}

     <div class="card-body">
     <table sorted responsive class="table table-striped" style="width:100%">
       <thead sorted responsive class="">
           
            <tr>
                <th>Article</th>
                <th>Categorie</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {{#each articles}}
            <tr>
                <td scope="row">{{name}}</td>
                {{!-- <td>{{#if promoted}}
                    <del>{{price}}</del>
                    {{else}}
                    {{price}} <span style="font-weight: bold;">XAF</span>
                {{/if}}</td> --}}
                <td>{{"Categorie.name"}}</td>
              {{!--   <td>{{#if promoted}}
                    <span class="badge rounded-pill bg-success">En promotion</span>
                    {{else}}
                    <span class="badge rounded-pill bg-danger">Pas en promotion</span>
                {{/if}}</td> --}}
                <td>
                   <button data-bs-target="#edit{{id}}" data-bs-toggle="modal" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                                   <a href="/admin/articles/delete-article/{{id}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                </td>
              
            </tr>

            <div class="modal fade" id="edit{{id}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="addRoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleTitle">Ajouter une categorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/articles/edit-article/{{id}}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{name}}" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    {{!-- <div class="mb-3">
                        <label for="price" class="form-label">Prix</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" value="{{price}}" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div> --}}
                    <div class="mb-3">
                        <label for="categorie" class="form-label">Catégorie</label>
                        <select class="form-select" name="categorie_id" id="categorie">
                            <option selected value="">Selectionner une catégorie</option>
                            {{#each ../categories}}
                               <option value="{{id}}">{{name}}</option> 
                            {{/each}}
                        </select>
                    </div>
                  {{!--   <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="promoted" name="promoted" value="true">
                        <label class="form-check-label" for="promoted">Promotionner?</label>
                      </div>
                    <div class="mb-3" hidden>
                        <label for="promoted_price" class="form-label">Prix de la promotion</label>
                        <input type="text" class="form-control" name="promote_price" id="promoted_price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div> --}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">editer</button>
                </form>
            </div>
        </div>
    </div>
</div>

 {{/each}}

        </tbody>
    </table>
</div>
</div>
</div>
{{#if_admin user}}
    

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addCategorie" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="addRoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleTitle">Ajouter une categorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/articles/add" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
{{!--                     <div class="mb-3">
                        <label for="price" class="form-label">Prix</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div> --}}
                    <div class="mb-3">
                        <label for="categorie" class="form-label">Catégorie</label>
                        <select class="form-select" name="categorie_id" id="categorie">
                            <option selected value="">Selectionner une catégorie</option>
                            {{#each categories}}
                               <option value="{{id}}">{{name}}</option> 
                            {{/each}}
                        </select>
                    </div>
                    {{!-- <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="promoted" name="promoted" value="true">
                        <label class="form-check-label" for="promoted">Promotionner?</label>
                      </div>
                    <div class="mb-3" hidden>
                        <label for="promoted_price" class="form-label">Prix de la promotion</label>
                        <input type="text" class="form-control" name="promote_price" id="promoted_price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div> --}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    
    document.querySelector("#promoted")&& document.querySelector("#promoted").addEventListener("click",(e)=>{
        if(e.target.checked){
            document.querySelector("#promoted_price").parentElement.removeAttribute("hidden")
        }else{
             document.querySelector("#promoted_price").parentElement.setAttribute("hidden", true)
        }
    })
</script>
{{/if_admin}}