<div class="card mt-2">
    <div class="row p-2 mb-2">
        <h4 class="fs-6 ms-2">Listes des commandes à traiter</h4>
        {{#each Commandes}}
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Numero de commande: <span style="font-weight: bold; color:black"">{{numero_commande}}</span></h5>
                        <p class="card-text">Canal vente: <span style="font-weight: bold; color:black">{{"Magasin.name"}}</span> </p>
                        <p class="card-text">Nom Client: <span style="font-weight: bold; color:black">{{name}}</span> </p>
                        <p class="card-text ">Numero Client:<span style="font-weight: bold; color:black">{{numero_client}}</span> 
                            <i class='fas fa-phone-alt ms-4'></i>
                            <i class='fas fa-comment-alt ms-2'></i>
                            <i class='fas fa-comment ms-2'></i>
                        </p>
                        <p class="card-text"> <a href="#" data-bs-toggle="modal" data-bs-target="#articleShow" class="btn btn-sm btn-primary">Liste des produits commandés</a></p>
                        <p class="card-text">Prix Total:<span style="font-weight: bold; color:black"> {{total}} fcfa</span> </p>
                        {{!-- <p class="card-text">Ville livraison: Douala</p>--}}
                        <p class="card-text">Quartier livraison: {{quartier}}</p> 
                        <p class="card-text">Adresse livraison:<span style="font-weight: bold; color:black">{{address_livraison}} </span> </p>
                        <p class="card-text">Status:  <span class="badge rounded-pill bg-danger">En cours</span></p>
                        {{!-- <p class="card-text">Date et heure livraison:  <span style="font-weight: bold; color:black">03 mars 2023 12h</span></p> --}}
                        <div>
                            {{#if user_id}}
                                <a href="#" class="badge bg-primary">Déjà assigné</a>
                                {{else}}
                                <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#action{{id}}">
                                    Editer
                                </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Body -->
            <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
            <div class="modal fade" id="articleShow" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div class="modal-content">
                       {{!--  <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> --}}
                        <div class="modal-body">
                            <div class="row">
                                {{#each articles_commandes}}
                                  <div class="col-sm-12 col-lg-6">
                                    <div class="card">
                                        <div class="card-head">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">{{name}}</h4>
                                            <p class="card-text">{{price}}</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Quantité: {{quantite}}</li>
                                        </ul>
                                    </div>
                                  </div>
                                {{/each}}
                            </div>
                        </div>
                        {{!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div> --}}
                    </div>
                </div>
            </div>

            <div class="modal" id="action{{id}}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modification {{id}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <form action="/callcenter/edit/{{id}}" method="post">
                            <div class="form-group">
                                <label for="quartier_livraison" class="form-label">Quartier livraison</label>
                                <input type="text" class="form-control" name="quartier" id="quartier_livraison" aria-describedby="helpId"
                                    placeholder="">
                                <small id="helpId" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label for="adresse_livraison" class="form-label">Adresse livraison</label>
                                <input type="text" class="form-control" name="adresse_livraison" id="adresse_livraison" value="{{address_livraison}}"
                                    aria-describedby="helpId" placeholder="{{address_livraison}}">
                                <small id="helpId" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label for="status" class="form-label">Status</label>
                                <select class="form-select" id="status" name="status">
                                    <option selected>Choisir une option</option>
                                    <option value="Confirmer">Confirmer</option>
                                    <option value="Occupée">Occupée</option>
                                    <option value="Boite vocale">Boite vocale</option>
                                    <option value="Reporteé">Reportée</option>
                                    <option value="Annulée">Annulée</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="user_id" class="form-label">Assigner un livreur</label>
                                <select class="form-select" name="user_id" id="user_id">
                                    <option selected disabled>Selectionner un livreur </option>
                                    {{#each ../users}}
                                    <option value="{{id}}">{{fullname}}</option>
                                    {{/each}}
                            
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="comment">Commentaire</label>
                                <textarea class="form-control" placeholder="Commentaire" id="comment" name="comment"
                                    style="height: 100px"></textarea>
                            </div>
                           
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-info">Valide</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {{/each}}
       

    </div>
</div>


<script type="text/babel">

    function CommandeItem({commande,users}){
        return (

            <div className="col-sm-6 mb-3">
                    <div className="card">
                        <div className="card-body">
                            <h5 className="card-title text-info">Numero de commande: <span style="font-weight: bold;">{ commande.numero_commande }</span></h5>
                            <p className="card-text">Canal vente: <span style="font-weight: bold; color:black">{commande["Magasin.name"]}</span> </p>
                            <p className="card-text">Nom Client: <span style="font-weight: bold; color:black">{commande.name }</span> </p>
                            <p className="card-text ">Numero Client:<span style="font-weight: bold; color:black">{commande.numero_client }</span>
                                <i className='fas fa-phone-alt ms-4'></i>
                                <i className='fas fa-comment-alt ms-2'></i>
                                <i className='fas fa-comment ms-2'></i>
                            </p>
                            <p className="card-text"> <a href="#" data-bs-toggle="modal" data-bs-target="#articleShow" className="btn btn-sm btn-info">Liste des produits commandés</a></p>
                            <p className="card-text">Prix Total:<span style="font-weight: bold; color:black"> {commande.total } fcfa</span> </p>
                        <p className="card-text">Quartier livraison: {commande.quartier }</p>
                        <p className="card-text">Adresse livraison:<span style="font-weight: bold; color:black">{commande.address_livraison } </span> </p>
                        <p className="card-text">Status:  <span className="badge rounded-pill bg-danger">En cours</span></p>
                    <div>
                        {commande.user_id? <a href="#" className="badge bg-primary">Déjà assigné</a>: <button className="btn btn-outline-info" data-bs-toggle="modal" data-bs-target={"#action"+commande.id}>
                                    Editer
                                </button>}
                    </div>
                </div>
            </div>
            </div>
            <div className="modal fade" id="articleShow" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div className="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                    <div className="modal-content">    
                    <div className="modal-body">
                        <div className="row">
                            {typeof commande.articles_commandes==="object"&&commande.articles_commandes.map((article)=>(
                                <div className="col-sm-12 col-lg-6">
                                    <div className="card">
                                        <div className="card-head">
                                            <button type="button" className="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div className="card-body">
                                            <h4 className="card-title">{ article.name }</h4>
                                            <p className="card-text">{article.price }</p>
                                        </div>
                                        <ul className="list-group list-group-flush">
                                            <li className="list-group-item">Quantité: {article.quantite }</li>
                                        </ul>
                                    </div>
                                </div>
                            ))}
                        </div>
                    </div>
            </div>
                </div >
            </div >
            <div className="modal" id={'action'+commande.id} tabindex="-1" aria-hidden="true">
                <div className="modal-dialog modal-dialog-centered">
                    <div className="modal-content">
                        <div className="modal-header">
                            <h5 className="modal-title">Modification</h5>
                            <button type="button" className="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div className="modal-body">
                            <form action={"/callcenter/edit/"+commande.id} method="post">
                                <div className="form-group">
                                    <label for="quartier_livraison" className="form-label">Quartier livraison</label>
                                    <input type="text" className="form-control" name="quartier" id="quartier_livraison" aria-describedby="helpId"
                                        placeholder=""/>
                                        <small id="helpId" className="form-text text-muted"></small>
                                </div>
                                <div className="form-group">
                                    <label for="adresse_livraison" className="form-label">Adresse livraison</label>
                                    <input type="text" className="form-control" name="adresse_livraison" id="adresse_livraison" value={commande.address_livraison}
                                        aria-describedby="helpId" placeholder={commande.address_livraison}/>
                                        <small id="helpId" className="form-text text-muted"></small>
                                </div>
                                <div className="form-group">
                                    <label for="status" className="form-label">Status</label>
                                    <select className="form-select" id="status" name="status">
                                        <option selected>Choisir une option</option>
                                        <option value="Confirmer">Confirmer</option>
                                        <option value="Occupée">Occupée</option>
                                        <option value="Boite vocale">Boite vocale</option>
                                        <option value="Reporteé">Reportée</option>
                                        <option value="Annulée">Annulée</option>
                                    </select>
                                </div>
                                <div className="mb-3">
                                    <label for="user_id" className="form-label">Assigner un livreur</label>
                                    <select className="form-select" name="user_id" id="user_id">
                                        <option selected disabled>Selectionner un livreur </option>
                                        {users.map((user)=>(
                                            <option value={user.id}>{commande.fullname}</option>
                                        ))}

                                    </select>
                                </div>
                                <div className="form-group">
                                    <label for="comment">Commentaire</label>
                                    <textarea className="form-control" placeholder="Commentaire" id="comment" name="comment"
                                        style="height: 100px"></textarea>
                                </div>
                        </div>
                        <div className="modal-footer">
                            <button type="submit" className="btn btn-outline-info">Valide</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>

        )
    }
    function Commande() {
            return (
                    <CommandeItem/>
            )
        }
    const root  = document.querySelector("[commander-render]")
    const render = reactDOM.createRoot(root)
    render.render(<Commande/>)
</script>